*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    
}
body{
    z-index: -1000;
    visibility: hidden;
}
#wrapper{
    width: 100vw;
    height: 100vh;
    min-width: 270px;
    min-height: 430px;
    z-index: -1000;
    visibility: hidden;

}
header {
    font-size: 30px;
    width: 100vw;
    height: 1.5em;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    visibility: visible;
}
main{
    visibility: visible;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: auto auto;
    width: 100vw;
}
p {
    color: white;
    margin: 0;
    
}

#title{
    padding-left: 1em;
}
#intro{
    grid-row: 1/ span 1;
}
.treeDiv{
    margin: 10px;
}
.spanDiv{
    
    height: 100%;
}
.tree{
    height: 25vh;
    width: auto;
    shape-outside: circle(50%);
}
#dropdown-button {
    font-size: 20px;
    grid-column: 2/ span 1;
    width: 130px;
    height: 100%;
    justify-self: end;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}
#my-dropdown{
    animation-name: slide-in;
    animation-duration: .75s;
    background-color: black;
    margin: 0;
    min-width: 0;
    padding: 4px;
    font-size: 20px;
}
@keyframes slide-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    0%{
        opacity: 0;
    }
}
a{
    text-decoration: none;
    color: white;
    border-radius: .25em;
}
a:hover{
    text-decoration: none;
    color: rgb(45, 152, 184);
    cursor: pointer;
}
li{
    background-color:  rgb(145, 128, 91);
    list-style-type: none;
    border: none;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 25em;
    min-width: 80px;
    max-width: 200px;
    border-radius: .125em;
    padding: 3px;
    box-shadow: 2px 2px 2px gray;
}
#intro{
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 10em;
    width: 100%;
    background-color: white;
    z-index: 100;
}
#effects{
    width: 100%;
}
#cardsDiv.card{
    justify-self: center;
}
#cardsDiv img{
    max-width: 300px;
    padding: 5px;
    transition: height 1s ease-in-out .25s;
}
#cardsDiv{
    width: 100vw;
    background-color: black;
    padding: 2em;
    bottom: 0;
    position: absolute;
    z-index: -100;
    text-align: center;
    display: flex;
    justify-content: center;
}
.card-text{
    color: black;
}
.cardContainer{
    margin-left: auto;
    margin-right: auto;
    width: auto;  
}
.card{
    color: white;
    background-color: rgb(145, 128, 91);
    width: 180px;
    transition: width ease 1s;
    float: left;
    margin: 10px;
    z-index: 1000;
}
@media screen and (max-height: 415px){
    #cardsDiv{       
        position: static;
    }
}
@media screen and (max-height: 750px){
    #intro > img {
        height: 0;
    }
    #intro {
        padding-bottom: 0;
    }
    #intro > span {
        padding-bottom: 0;
    }
    @media screen and (max-width: 750px){

    }
}
@media screen and (max-width: 863px){
    .cardContainer{
        max-width: 400px;
    }
    @media screen and (max-height: 590px){
        #cardsDiv{       
            position: static;
        }
    }
}
@media screen and (max-width: 465px){
    .cardContainer{
        max-width: 200px;
    }
}