*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    
}
body{
    z-index: -1000;
    visibility: hidden;
}
#wrapper{
    width: 100vw;
    height: 100vh;
    min-width: 270px;
    min-height: 430px;
    z-index: -1000;
    visibility: hidden;
    display: grid;
    grid-template-rows: 3fr 1fr;
    overflow: hidden;
}
main{
    visibility: visible;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: auto auto;
    width: 100vw;
    pointer-events: none;
}
p {
    color: white;
    margin: 0; 
}
#title{
    padding-left: 1em;
}
#intro{
    grid-row: 1/ span 1;
}
.treeDiv{
    margin: 2em;
}
.spanDiv{
    padding: 1em;
    height: 100%;
    max-width: 90%;
    margin-left: 1em;
    margin-right: 1em;
}
.tree{
    height: 25vh;
    width: auto;
    shape-outside: circle(50%);
}
@keyframes slide-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    0%{
        opacity: 0;
    }
}
a{
    text-decoration: none;
    color: white;
    border-radius: .25em;
    pointer-events: all;
}
a:hover{
    text-decoration: none;
    color: rgb(45, 152, 184);
    cursor: pointer;
}
#intro{
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 10em;
    width: 100%;
    background-color: white;
    z-index: 100;
}
#effects{
    width: 100%;
}
#cardsDiv.card{
    justify-self: center;
}
#cardsDiv img{
    max-width: 300px;
    padding: 5px;
    transition: height 1s ease-in-out .25s;
}
#cardsDiv{
    width: 100vw;
    background-color: black;
    padding: 2em;
    z-index: -100;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-row: 2/ end;
    justify-self: end;
}
.card-text{
    color: black;
}
.card{
    color: white;
    background-color: rgb(145, 128, 91);
    width: 180px;
    transition: width ease 1s;
    float: left;
    margin: 10px;
    z-index: 1000;
    min-height: 70px;
    padding: 5px;
    box-sizing: border-box;
}
@media screen and (max-height: 415px){
    #cardsDiv{       
        position: static;
    }
}
@media screen and (max-height: 750px){
    #intro > img {
        height: 0;
    }
    #intro {
        padding-bottom: 0;
    }
    #intro > span {
        padding-bottom: 0;
    }
    @media screen and (max-width: 750px){

    }
}
@media screen and (max-width: 863px){
    .cardContainer{
        max-width: 400px;
    }
    @media screen and (max-height: 590px){
        #cardsDiv{       
            position: static;
        }
    }
}
@media screen and (max-width: 465px){
    .cardContainer{
        max-width: 200px;
    }
}